.gallery {
    background: transparent;
}

.gallery-cell {
    width: 85%;
    height: 400px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
}

.gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    font-size: 80px;
    color: white;
    background: transparent;
}