* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--cor-fundo);
}

:root {
    --cor-fundo: #F6F5F2;
    --cor-texto: #333333;
    --cor-destaque: #007bff;
    --cor-fundo-card: #f8f9fa;
    --cor-borda: #dee2e6;

    --fonte-base: 'Arial', sans-serif;
    --tamanho-fonte: 16px;

    --espacamento: 1rem;

    --borda-raio: 0.25rem;
}

header {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1.5rem;

    display: flex;
    justify-content: space-between;
}

.h-options {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.h-options li a {
    text-decoration: none;
    color: black;
}

.auth {
    display: none;
}

main {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.s-products {
    width: 100%;
}

.container-filter {
    border-top: 1px solid;
    display: flex;
}
.filter {
    display: flex;
    cursor: pointer;
    padding: 0.5rem;
    gap: 0.5rem;
}
.filter:hover {
}

#arrow-filter {
    width: 20px;
    transition: transform 0.2s ease;
}

.md-filter {
    width: 200px;
    height: 100px;
    background-color: #dee2e6;
    position: fixed;
    display: none;
}

.pagination {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    gap: 0.5rem;
}


footer {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    border-top: 1px solid;
}


